{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(form.title) }}
    {{ form_row(form.author) }}
    {{ form_row(form.publishedAt) }}
    {{ form_row(form.category) }}
    {{ form_row(form.description) }}
    {{ form_row(form.isbn) }}

<button class="btn btn-secondary">{{ button_label|default('Save') }}</button>
<a href="{{ path('app_book_index') }}" class="btn btn-light">Back to list</a>
{{ form_end(form) }}